<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628805532994-o906jbhqkikj6nj971ligib06cejta9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628805532994-o906jbhqkikj6nj971ligib06cejta9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628805532994-8lg0brufttrmd6ej2mgaslh41ogd3k8d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBccU_XaovEX4RSjlBmyIIvt2R2dlFgiiE</string>
	<key>GCM_SENDER_ID</key>
	<string>628805532994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingbiz.kingsfam</string>
	<key>PROJECT_ID</key>
	<string>kingsfam-9b1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsfam-9b1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628805532994:ios:d070befcd31e7417ca1cdb</string>
</dict>
</plist>